
<h2><b>Адрес <br/>
<%= @error %>
Бишкек, ул. Фрунзе, д. 51<br/>
Телефон +996500019620 <br/>
Часы работы<br/>
ПН-ВС | 9:00 - 21:00
</b></h2>
<img src="https://images.pexels.com/photos/4092771/pexels-photo-4092771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width='1140px' height='700px'>
